@{
  Layout = "_Layout";
}

<a href="/">Home</a>

<h1>Band Tracker</h1>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <h3>Bands</h3>
    <div class="well">
      @foreach (var band in Model)
      {
        <li><a href="/bands/@band.GetId()/details">@band.GetName()</a></li>
      }
    </div>
  </div>

  <div class="col-md-5">
    <h3>Add New Band</h3>
    <div class="well">
      <form action="/bands/all/add" method="post">
        <label for="band-name">Band name: </label>
        <input type="text" id="band-name" name="band-name">
        <button type="submit" class="btn btn-default">Add band</button>
      </form>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
