@{
  Layout = "_Layout";
}
<div class="index-view">

  <h1>Band Tracker</h1>

    <p class="index-buttons"><a href="/venues/all"><button class="btn btn-default index-btn">Venues</button></a></p>
    <p class="index-buttons"><a href="/bands/all"><button class="btn btn-default index-btn">Bands</button></a></p>

</div>
